<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme/black.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/principal.css')}}">
    <title>Denzel_Evangelista</title>
</head>

<body>
    <header>
        <h1>Denzel Gabriel E. Clarindo</h1>
        <h1>Desenvolvedor</h1>
    </header>

    <div id="contato">
        <h3> WhatsApp: <a href="https://api.whatsapp.com/send?phone=5511964295423"> (11) 96429-5423</a></h3>
        <h3> Github: <a href="https://github.com/Denzel-Evangelista">DenzelEvangelista</a></h3>
        <h3> Linkedin: <a href="https://www.linkedin.com/in/denzel-gabriel-b563331a0/">Denzel-Clarindo</a></h3>
        <h3> Email: <a href="mailto:denzel.evangelistaclarindo@gmail.com">denzel.evangelistaclarindo@gmail.com</a></h3>
    </div>

    <div id="skills">
        <h2>° Hardskills °</h2>
        <ul>
            <li>Python</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>Linux</li>
        </ul>

        <h2>° Softskills °</h2>
        <ul>
            <li>Adaptabilidade</li>
            <li>Pontualidade</li>
            <li>Trabalho em equipe</li>
            <li>Resilencia</li>
        </ul>
    </div>

    <div id="perfil">
        <h2>° Perfil °</h2>
        <p>💻 Profissional em Transição para Tecnologia<br>
            Sou um profissional determinado e apaixonado por tecnologia, buscando fazer uma transição de carreira para a
            área de TI. Com experiência teórica e pratica, estou pronto para exercitar minhas habilidades analíticas,
            criativas e de resolução de problemas em novos desafios tecnológicos.
        </p>
        <p>🔍 Objetivo Profissional:<br>
            Meu objetivo é desenvolver uma carreira sólida na área de Cyber segurança ou o desenvolvimento de software, onde eu possa
            contribuir com meu conhecimento, aprender novas tecnologias e fazer parte de projetos impactantes.
        </p>
        <P>🌟 Principais Competências:<br>
            Python: Minha principal linguagem de programação e o meu foco principal de aprendizado no momento.<br>
            MySQL: Um sistema de gerenciamento de banco de dados que tenho preferencia de usar por já ter pratica da
            faculdade.
        </p>
    </div>

    <div id="projetos">
        <h3>Resumo dos Projetos</h3>


    </div>

</body>

</html>